@using OneKey.Web.ViewModels.User

@model RegisterUserViewModel;
@{
    Layout = "";
    ViewBag.Page = "Sign Up";
}

<div class="container">

    <form asp-action="Register" asp-controller="User">
        <h1 class="form_title">Sign Up to OneKey</h1>

        <div class="textbox-wrapper">
            <input asp-for="Email" class="login-textbox" placeholder="Email" />
        </div>
        <div class="textbox-wrapper">
            <input asp-for="FirstName" class="login-textbox" placeholder="First Name" />
        </div>
        <div class="textbox-wrapper">
            <input asp-for="LastName" class="login-textbox" placeholder="Last Name" />
        </div>
        <div class="textbox-wrapper">
            <input asp-for="Username" class="login-textbox" placeholder="Username" />
        </div>
        <div class="textbox-wrapper">
            <input asp-for="Password" class="login-textbox" type="password" placeholder="Password" />
        </div>
        <div class="textbox-wrapper">
            <input asp-for="ConfirmPassword" class="login-textbox" type="password" placeholder="Confirm Password" />
        </div>
        <div class="textbox-wrapper">
            <button class="form_button" type="submit">Sign Up</button>
        </div>


        <div class="signUp">
            <a href='@Url.Action("Login","User")'>Already got an account? Login here!</a>
        </div>
    </form>
</div>


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
