@using OneKey.Web.ViewModels;
@model List<PasswordViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        @{
            if (ViewBag.IsSignedIn == true)
            {
                <div class="col-6 text-end">
                    <a asp-controller="Password" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus"></i> &nbsp; Add Password
                    </a>
                </div>
            }
        }
    </div>
    <br>

    <table id="password" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-white">
                    Details For?
                </th>
                <th class="text-white">
                    Website
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var password in Model)
            {
                <tr>
                    <td class="text-white">
                        <a href="@Url.Action("Upsert","Password", new {reference = password.Reference})">
                            @password.DetailsFor
                        </a>
                    </td>
                    <td class="text-white">
                        @password.Website
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>