@using OneKey.Web.ViewModels;
@using Microsoft.Extensions.Localization
@model PasswordViewModel
@inject IStringLocalizer<PasswordViewModel> _stringLocalizer;
<form method="post">
    <div class="card-box">
        <div class="col-sm-12">
        <h1 class="text-dark">@_stringLocalizer[Model.Title]</h1>
            <div class="row">
                <label class="col-sm-3 text-dark">Details for</label>
                <input class="col-sm-9" asp-for="DetailsFor"/>
            </div>
            <div class="row">
                <label class="col-sm-3 text-dark">Username</label>
                <input class="col-sm-9" asp-for="UserName"/>
            </div>
            <div class="row">
                <label class="col-sm-3 text-dark">Website</label>
                <input class="col-sm-9" asp-for="Website"/>
            </div>
            <div class="row">
                <label class="col-sm-3 text-dark">Password</label>
                <input class="col-sm-9" type="password" asp-for="StoredPassword"/>
            </div>
            <button type="submit" class="btn btn-primary btn-upsert">Create</button>
        </div>
    </div>
</form>